.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #1E2939;
  color: #FFFFFF;
  text-align: center;
  }
  
  .form-wrapper {
  width: 50%;
  max-width: 500px;
  }
  
  .back-link {
  background-color: #1E2939;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  }
  
  .back-link:hover {
  background-color: #FFFFFF;
  color: #1E2939;
  }
  
  .title-with-margin {
  margin-bottom: 20px;
  }
  
  .form-input {
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 100%;
  }
  
  .form-button {
  background-color: rgb(194, 128, 6);
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  }
  
  .form-button:hover {
  background-color: #FFFFFF;
  color: #1f2d3d;
  }
  
  .form-result {
  font-size: 18px;
  margin-top: 20px;
  }
  
  .history-container {
    border: 10px solid white;
    padding: 20px;
    margin-bottom: 20px;
  }
  .history-container ul {
    padding: 0 0 20px 0; 
  }
  .history-container li {
    margin-bottom: 30px; 
  }

  .history-container hr {
    border-top: 4px solid #fff; 
  }

  .history-container li:last-child {
    margin-bottom: 2; 
  }
  
  
  .clear-history-button {
  background-color: rgb(194, 128, 6);
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  }
  
  .clear-history-button:hover {
  background-color: #FFFFFF;
  color: #1f2d3d;
  }
  
  /* Adicione esta regra para tornar o conteúdo centralizado em dispositivos móveis */
  @media only screen and (max-width: 600px) {
  .form-wrapper {
  width: 90%;
  }
  }

  .custom-button {
    background-color: rgb(194, 128, 6);
    color: #fff;
    display: inline-block;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .custom-button:hover {
    background-color:white;
  }
  