.metas-container {
  background-color: #1E2939;
  color: #FFFFFF;
  padding: 40px;
  text-align: center;
}

.metas-container h3 {
  background-color: #fff;
  color: #1a365d;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.metas-container > div:first-of-type {
  margin-top: 20px;
}

.metas-container .destaque {
  margin-bottom: 10px !important;
  font-weight: bold;
  font-size: 28px;
}

.metas-container hr {
  border: 1px solid #FFFFFF;
  margin: 20px 0;
}

.metas-container p {
  font-size: 18px;
}

.metas-container input[type="number"] {
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  width: 200px;
  font-size: 16px;
}

.metas-container input[type="number"]::placeholder {
  color: #ccc;
}

.metas-container button {
  background-color: rgb(194, 128, 6);
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
}
.metas-container button:hover{
  background-color: white;
  color:  #1f2d3d;
}
.metas-container ul {
  margin-top: 20px;
  list-style: none;
  text-align: left;
  padding: 0;
}

.metas-container li {
  font-size: 18px;
  margin-bottom: 10px;
}

.metas-container li button {
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  color: #1E2939;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.btn-metas {
  margin-top: 20px !important;
  background-color: rgb(194, 128, 6);
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-metas:hover {
  background-color: white;
  color:  #1f2d3d;
}

input[type="number"] {
  background-color: white;
  border: 2px solid #1f2d3d;
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* Adicione esta regra para tornar o conteúdo centralizado em dispositivos móveis */
@media only screen and (max-width: 600px) {
  .metas-container {
    text-align: center;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .metas-container input[type="number"] {
    width: 80%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.btn-deletar{
  margin-top: 20px !important;
  background-color: rgb(194, 128, 6) !important;
  border: 2px solid white;
  color: #1f2d3d;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-deletar:hover{
  background-color: white !important;
  color:  #1f2d3d;
}
