/* Estilo para dispositivos móveis */
@media only screen and (max-width: 768px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }

  .botoes .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col-md-6 {
    width: 100%;
    margin-bottom: 1rem;
  }

  .botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .texto-botao {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin-top: 1rem;
  }

  .icone {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
  }
}

/* Estilo para dispositivos maiores que 768px */
@media only screen and (min-width: 769px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }

  .botoes .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col-md-6 {
    width: 45%;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .col-md-6:last-child {
    margin-right: 0;
  }

  .botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .texto-botao {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin-top: 1rem;
  }

  .icone {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
  }
}

body {
  background-color: #051c33;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
  border-bottom: none;
  color: #fff;
}

h1, h2, h3 {
  margin-top: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
  border: 5px solid #fff;
  box-shadow: 10px 10px 0px 0px #fff;
  background-color: #051c33;
  border-radius: 20px;
}

.titulo {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 30px;
}

.subtitulo {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
}

.botao {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 1rem;
}

.texto-botao {
  font-size: 1.5rem;
  font-weight: bold;
  color: #051c33;
  margin-top: 1rem;
}

.icone {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
  .titulo {
    font-size: 3rem;
  }

  .subtitulo {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .botao {
    margin-bottom: 2rem;
  }

  .texto-botao {
    font-size: 1.2rem;
  }

  .icone {
    width: 4rem;
    height: 4rem;
  }
}

.icone-money {
  display: flex;
  max-width: 100%;
  height: auto;
  width: 150px;
  height: 150px;
  padding: 10px;
  float: left;
  margin-right: 20px;
}


.titulo-container {
  display: flex;
  align-items: center;
}

.titulo {
  margin-right: 10px;
}


.titulo-container {
  display: flex;
  align-items: center;
}

.icone-money {
  height: auto;
  width: 150px;
  padding-right: 20px;
  float: left !important;
}

.titulo {
  margin: 0;
}


